@model BeerViewModel
@using Microsoft.AspNetCore.Identity
@using BeerOverflow.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Beer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.ABV)-->
            Alcohol %
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ABV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brewery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brewery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>

    @if (User.Identity.IsAuthenticated)
    {

        var user = await UserManager.GetUserAsync(User);
        var userId = user.Id;
        <a asp-controller="Users" asp-action="Drink" asp-route-userID="@userId" asp-route-beerID ="@Model.ID" >
            Add to DrankList |
        </a>
        <a asp-controller="Users" asp-action="Wish">Add to WishList |</a>

        <a asp-controller="Review" asp-action="Create" asp-route-userID="@userId" asp-route-beerID ="@Model.ID"> Write a Review |</a>

    }
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit |</a>

    }
    <a asp-action="Index">Back to List</a>

</div>
<div>
    <dl class="row">
        @foreach (var item in Model.Reviews)
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(model => item.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Description)
            </dd>
            <dt>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (item.UserName == User.Identity.Name)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">| Edit |</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </dt>
        }
    </dl>
</div>